<div class="container">
    <h2>Gestión de Solicitudes</h2>
    <table mat-table [dataSource]="requests" class="mat-elevation-z8">
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let req"> {{req.reqId  }} </td>
      </ng-container>
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let req"> {{req.reqFirstName  }} </td>
      </ng-container>
      <ng-container matColumnDef="Apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let req"> {{req.reqLastName}} </td>
      </ng-container>
      <ng-container matColumnDef="Codigo de trabajador">
        <th mat-header-cell *matHeaderCellDef> Codigo de trabajador </th>
        <td mat-cell *matCellDef="let req"> {{req.reqWorkerCode  }} </td>
      </ng-container>
      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef>Estado </th>
        <td mat-cell *matCellDef="let req"> {{req.status  }} </td>
      </ng-container>
      <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef> Estado</th>
        <td mat-cell *matCellDef="let req"> {{req.reqDepartment  }} </td>
      </ng-container>
      
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let req">
          <button mat-flat-button color="warn" (click)="convertToBadge(req.reqFirstName, req.reqLastName, req.reqWorkerCode, req.userId)">Crear Solapin
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>