<div class="container">
    <h2>Registro de Usuario</h2>
    <form class="mat-form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <mat-form-field>
        <mat-label >Carnet de Identidad</mat-label>
        <input matInput [(ngModel)]="userId" name="Carnet de Identidad" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label >Nombre de Usuario</mat-label>
        <input matInput [(ngModel)]="username" name="Usuario" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label >Contraseña</mat-label>
        <input matInput [(ngModel)]="password" name="Contraseña" required type="password">
      </mat-form-field>
      <mat-form-field>
        <mat-label >Nombre</mat-label>
        <input matInput [(ngModel)]="firstName" name="Nombre" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label >Apellidos</mat-label>
        <input matInput [(ngModel)]="lastName" name="Apellidos" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label >Codigo de Trabajador</mat-label>
        <input matInput [(ngModel)]="workerCode" name="Codigo de Trabajador" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label >Departamento</mat-label>
        <input matInput [(ngModel)]="department" name="Departamento" required>
      </mat-form-field>

      <button mat-flat-button type="submit" class="btn btn-primary">Registrar</button>
      <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success mt-2">{{ successMessage }}</div>
    </form>
  </div>